<div class="modal fade" id="SectionFormModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="title" class="modal-title">Add Section</h3>
                <a href="#" class="close" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body" id="SectionFormModalDiv">
            </div>
        </div>
    </div>
</div>

<script src="~/js/Administration/Sections/sectionsCRUD.js"></script>